{{- if .Values.createNamespace }}
# NOTE: This template creates the namespace. 
# If you use Helm's --create-namespace flag, set createNamespace: false in values.yaml
# to avoid conflicts (Helm will create the namespace automatically).
apiVersion: v1
kind: Namespace
metadata:
  name: {{ include "kube-freezer.namespace" . }}
  labels:
    {{- include "kube-freezer.labels" . | nindent 4 }}
---
{{- end }}

