{{- if .Values.createNamespace }}
{{- $namespace := include "kube-freezer.namespace" . }}
{{- $existingNamespace := lookup "v1" "Namespace" "" $namespace }}
{{- if not $existingNamespace }}
# Create namespace so Helm can manage it (including deletion on uninstall)
# NOTE: If you use --create-namespace flag, set createNamespace: false in values.yaml
# to avoid conflicts. The --create-namespace flag creates the namespace before templates run.
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $namespace }}
  labels:
    {{- include "kube-freezer.labels" . | nindent 4 }}
{{- end }}
{{- end }}

